<div id="skill" class="mt-16 md:mt-24">
  <h2 class="block md:hidden my-8 font-bold text-sm tracking-widest uppercase">Skill</h2>
  <div class="flex flex-wrap gap-2 group">
    <div class="flex flex-col flex-1 gap-2">
      <%- include('./parts/_skill-item', {title: 'HTML', width: 'w-10/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'CSS', width: 'w-10/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'JavaScript', width: 'w-10/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'Java', width: 'w-5/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'PHP', width: 'w-5/12'}); -%>
    </div>
    <div class="flex flex-col flex-1 gap-2 mt-4 md:mt-8">
      <%- include('./parts/_skill-item', {title: 'Flutter', width: 'w-7/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'Figma', width: 'w-5/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'VBA', width: 'w-5/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'Next.js', width: 'w-3/12'}); -%>
      <%- include('./parts/_skill-item', {title: 'WordPress', width: 'w-7/12'}); -%>
    </div>
  </div>
</div>